#about {
    padding: 30px;
    background-color: #e0e0e0;
    text-align: left;
}

.about-me {
    font-size: 2em;
    margin-bottom: 20px;
    color: #555;
}

.about-content {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
    color: #666;
    font-family: Arial, sans-serif;
}

.about-content p {
    margin-bottom: 10px;
    font-size: 1em;
}